# Backend Questions: Task-2


Option 1

- lsa_single_line.txt: The fixed width data to be parsed.
- lsa_single_line_def.csv: The schema for the data set
- lsa_single_line_parsed.csv: The resulting csv file. Can be used to validate your result.

Option 2

- lsa_multi_line.txt: The fixed width data to be parsed.
- lsa_multi_line_def.csv: The schema for the data set
- lsa_multi_line_parsed.csv: The resulting csv file. Can be used to validate your result.

## Configuration

In [1]:
import os

dir = '../Systecon_Practial_test_-_Back-end/Back-End_Task_Data/LsaParsing'
files = os.listdir(dir)
files

['lsa_single_line_parsed.csv',
 'lsa_multi_line_def.csv',
 'lsa_multi_line.txt',
 'lsa_single_line_def.csv',
 'lsa_single_line.txt',
 'lsa_multi_line_parsed.csv']

## Option 1

### Review data

In [2]:
file_schema = os.path.join(dir,files[3])
print( file_schema )
file_input = os.path.join(dir,files[4])
print( file_input )
file_output_validate = os.path.join(dir,files[0])
print( file_output_validate )

../Systecon_Practial_test_-_Back-end/Back-End_Task_Data/LsaParsing/lsa_single_line_def.csv
../Systecon_Practial_test_-_Back-end/Back-End_Task_Data/LsaParsing/lsa_single_line.txt
../Systecon_Practial_test_-_Back-end/Back-End_Task_Data/LsaParsing/lsa_single_line_parsed.csv

In [3]:
import subprocess

In [4]:
bashCommand = "head -n10 " + file_schema
process = subprocess.Popen(bashCommand.split(), stdout=subprocess.PIPE)
output, error = process.communicate()
print(output.decode('UTF-8'))

Name,Column Width
PCCN,6
PLISN,5
CFI,1
item_name,12
unit_price,8
failure_rate,8
next_higher_plisn,5
qty_per_assembly,5

In [5]:
bashCommand = "head -n4 " + file_input
process = subprocess.Popen(bashCommand.split(), stdout=subprocess.PIPE)
output, error = process.communicate()
print(output.decode('UTF-8'))

C1234AAAAA ATESTBENCH
C1234ABAAA ATBU01       11000   237.75  AAAA 4
C1234ABAAB ATBU02       1986    15.89999AAAA 4
C1234ABAAC ATBU03       3971    50.99000AAAA 8

In [6]:
bashCommand = "head -n4 " + file_output_validate
process = subprocess.Popen(bashCommand.split(), stdout=subprocess.PIPE)
output, error = process.communicate()
print(output.decode('UTF-8'))

pccn,plisn,cfi,item_name,unit_price,failure_rate,next_higher_plisn,qty_per_assembly
C1234A,AAAA,A,TESTBENCH,,,,
C1234A,BAAA,A,TBU01,11000,237.75,AAAA,4
C1234A,BAAB,A,TBU02,1986,15.89999,AAAA,4

### Working code

In [7]:
import pandas as pd

schema = pd.read_csv(file_schema)
col_names = schema['Name'].values.tolist()
fix_widths = schema['Column Width'].values.tolist()

In [8]:
col_names_lwr = [x.lower() for x in col_names]

In [9]:
df_input = pd.read_fwf(file_input, 
                 widths = fix_widths,
                 names = col_names_lwr )

In [10]:
df_validate = pd.read_csv(file_output_validate)

In [11]:
df_input.equals(df_validate)

True

In [12]:
file_output = "./result-task2_option1.csv"
df_input.to_csv(file_output, index=False)

In [13]:
! ls

backend_Task-1.ipynb  backend_Task-2.ipynb  result-task2_option1.csv

In [14]:
del file_schema, file_input, file_output_validate

## Option 2

### Review data

In [15]:
files

['lsa_single_line_parsed.csv',
 'lsa_multi_line_def.csv',
 'lsa_multi_line.txt',
 'lsa_single_line_def.csv',
 'lsa_single_line.txt',
 'lsa_multi_line_parsed.csv']

In [16]:
file_schema = os.path.join(dir,files[1])
print( file_schema )
file_input = os.path.join(dir,files[2])
print( file_input )
file_output_validate = os.path.join(dir,files[5])
print( file_output_validate )

../Systecon_Practial_test_-_Back-end/Back-End_Task_Data/LsaParsing/lsa_multi_line_def.csv
../Systecon_Practial_test_-_Back-end/Back-End_Task_Data/LsaParsing/lsa_multi_line.txt
../Systecon_Practial_test_-_Back-end/Back-End_Task_Data/LsaParsing/lsa_multi_line_parsed.csv

In [17]:
import subprocess

In [18]:
bashCommand = "head -n10 " + file_schema
process = subprocess.Popen(bashCommand.split(), stdout=subprocess.PIPE)
output, error = process.communicate()
print(output.decode('UTF-8'))

Name,CFI,Width,Order
PCCN,A and B,6,
PLISN,A and B,5,
CFI,A and B,1,
item_name,A,12,1
unit_price,A,8,2
failure_rate,A,8,3
next_higher_plisn,B,5,1
qty_per_assembly,B,5,2
,B,18,3

In [19]:
bashCommand = "head -n4 " + file_input
process = subprocess.Popen(bashCommand.split(), stdout=subprocess.PIPE)
output, error = process.communicate()
print(output.decode('UTF-8'))

C1234AAAAA ATESTBENCH
C1234AAAAA B
C1234ABAAA ATBU01       11000   237.75
C1234ABAAA BAAAA 4

In [20]:
bashCommand = "head -n4 " + file_output_validate
process = subprocess.Popen(bashCommand.split(), stdout=subprocess.PIPE)
output, error = process.communicate()
print(output.decode('UTF-8'))

pccn,plisn,item_name,unit_price,failure_rate,next_higher_plisn,qty_per_assembly
C1234A,AAAA,TESTBENCH,,,,
C1234A,BAAA,TBU01,11000,237.75,AAAA,4
C1234A,BAAB,TBU02,1986,15.89999,AAAA,4

### Working code

In [63]:
import pandas as pd

schema = pd.read_csv(file_schema)
schema.iloc[schema.shape[0]-1: schema.shape[0]:]['Name'] = 'blank'
schema

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                Name      CFI  Width  Order
0               PCCN  A and B      6    NaN
1              PLISN  A and B      5    NaN
2                CFI  A and B      1    NaN
3          item_name        A     12    1.0
4         unit_price        A      8    2.0
5       failure_rate        A      8    3.0
6  next_higher_plisn        B      5    1.0
7   qty_per_assembly        B      5    2.0
8              blank        B     18    3.0

In [64]:
df_tmp = schema[schema.CFI.isin(['A','A and B'])]
fix_widths = df_tmp['Width'].values.tolist()
col_names_lwr = [x.lower() for x in df_tmp['Name'].values.tolist()]

In [68]:
def logic(index):
    if index % 2 != 0:
        return True
    return False

dfA = pd.read_fwf(file_input, 
                  widths = fix_widths,
                  names = col_names_lwr,
                  skiprows= lambda x: logic(x) )

In [70]:
del df_tmp, fix_widths, col_names_lwr

In [71]:
df_tmp = schema[schema.CFI.isin(['B','A and B'])]
fix_widths = df_tmp['Width'].values.tolist()
col_names_lwr = [x.lower() for x in df_tmp['Name'].values.tolist()]

In [72]:
df_tmp

                Name      CFI  Width  Order
0               PCCN  A and B      6    NaN
1              PLISN  A and B      5    NaN
2                CFI  A and B      1    NaN
6  next_higher_plisn        B      5    1.0
7   qty_per_assembly        B      5    2.0
8              blank        B     18    3.0

In [73]:
def logic(index):
    if index % 2 == 0:
        return True
    return False

dfB = pd.read_fwf(file_input, 
                  widths = fix_widths,
                  names = col_names_lwr,
                  skiprows= lambda x: logic(x) )

In [77]:
dfA.head(3)

     pccn plisn cfi  item_name  unit_price  failure_rate
0  C1234A  AAAA   A  TESTBENCH         NaN           NaN
1  C1234A  BAAA   A      TBU01     11000.0     237.75000
2  C1234A  BAAB   A      TBU02      1986.0      15.89999

In [76]:
dfB.head(3)

     pccn plisn cfi next_higher_plisn  qty_per_assembly  blank
0  C1234A  AAAA   B               NaN               NaN    NaN
1  C1234A  BAAA   B              AAAA               4.0    NaN
2  C1234A  BAAB   B              AAAA               4.0    NaN

In [92]:
dfA.drop(columns=['cfi'],inplace=True)

In [83]:
dfB.drop(columns=['cfi','blank'],inplace=True)

In [93]:
dfC = dfA.merge(dfB, on=['pccn','plisn'], how='outer')

In [94]:
dfC.head()

,pccn,plisn,item_name,unit_price,failure_rate,next_higher_plisn,qty_per_assembly
0,C1234A,AAAA,TESTBENCH,NaN,NaN,NaN,NaN
1,C1234A,BAAA,TBU01,11000.0,237.75000,AAAA,4.0
2,C1234A,BAAB,TBU02,1986.0,15.89999,AAAA,4.0
3,C1234A,BAAC,TBU03,3971.0,50.99000,AAAA,8.0
4,C1234A,BAAD,TBU04,1171.0,46.59999,AAAA,40.0

In [90]:
df_validate = pd.read_csv(file_output_validate)

In [95]:
dfC.equals(df_validate)

True

In [96]:
file_output = "./result-task2_option2.csv"
dfC.to_csv(file_output, index=False)

In [97]:
! ls

backend_Task-1.ipynb  result-task2_option1.csv
backend_Task-2.ipynb  result-task2_option2.csv

## Tasks 3,4: Database

### Create database

In [134]:
import numpy as np
convert = {
    str(np.dtype(object)):'text',
    str(np.dtype(float)):'real'
}

In [145]:
cols = list(zip( [str(x) for x in dfC.dtypes.to_list()], dfC.columns.to_list() ) )

In [169]:
import sqlite3

conn = sqlite3.connect(r"./result.db")
cur = conn.cursor()

tbl_name = "task2"
colname_type = [x[1] + ' ' + convert[x[0]] for x in cols]
cmd = "create table " + tbl_name + " (" + ', '.join(colname_type) + ")"
cur.execute(cmd)
conn.commit()

In [170]:
! sqlite3 result.db 'PRAGMA table_info(task2)'

0|pccn|text|0||0
1|plisn|text|0||0
2|item_name|text|0||0
3|unit_price|real|0||0
4|failure_rate|real|0||0
5|next_higher_plisn|text|0||0
6|qty_per_assembly|real|0||0

In [171]:
dfC.to_sql('task2', conn, if_exists='replace', index = False)

In [173]:
! sqlite3 result.db 'SELECT * FROM task2 LIMIT 3'

C1234A|AAAA|TESTBENCH||||
C1234A|BAAA|TBU01|11000.0|237.75|AAAA|4.0
C1234A|BAAB|TBU02|1986.0|15.89999|AAAA|4.0

In [174]:
conn.close()

In [160]:
recs = dfC.to_records()

In [162]:
tbl_name = "task2"
for rec in recs:
    print(rec)
    cmd = "insert into  " + tbl_name + " values (" + ', '.join(rec) + ")"
    cur.execute(cmd)
conn.commit()

(0, 'C1234A', 'AAAA', 'TESTBENCH', nan, nan, nan, nan)

TypeError: sequence item 0: expected str instance, numpy.int64 found

In [164]:
conn.close()

The Pandas way of doing it

In [167]:
! rm result.db

In [168]:
from sqlalchemy import create_engine

engine = create_engine('./result.db', echo=False)

ArgumentError: Could not parse rfc1738 URL from string './result.db'

In [166]:
dfC.to_sql('task2', con=engine)

engine.execute("SELECT * FROM task2").fetchall()

NameError: name 'engine' is not defined