# Predict Responses from Input

<br>


# Prepare Environment

__Configure__

In [4]:
import numpy as np
import pandas as pd

np.__version__, pd.__version__

%matplotlib inline
%load_ext rpy2.ipython

import warnings
warnings.filterwarnings('ignore')

#pd.set_option('display.height', 500)
pd.set_option('display.max_rows', 50)

__Load Model__

In [51]:
! ls Data/survey/Models

dt_gs_model.sav  knn_gs_model.sav  log_gs_model.sav  rf_gs_model.sav

In [8]:
from sklearn.externals import joblib
import os

cwd = os.getcwd()
file_path = cwd+'/Data/survey/Models/'
filename = file_path+'knn_gs_model.sav'
# load the model from disk
loaded_model = joblib.load(filename)

__Load Data__

In [10]:
file3 = pd.read_csv("Data/survey/File3.csv")
print(file3.shape)
file3.head()

(29231, 149)

,ID,State,f1,f2,f3,f4,f5,f6,f7,f8,...,f138,f139,f140,f141,f142,f143,f144,f145,f146,f147
0,3094,AK,AK01,69,E,61.0,55.33333,66.0,52.33333,49.25,...,5.0,3.0,3.0,4.0,4.0,7.0,4.0,1.0,1.0,NaN
1,13856,AK,AK01,59,M,61.0,55.33333,66.0,52.33333,49.25,...,6.0,6.0,9.0,9.0,5.0,7.0,8.0,4.0,4.0,NaN
2,16213,AK,AK01,63,D,61.0,55.33333,66.0,52.33333,49.25,...,7.0,6.0,6.0,9.0,7.0,2.0,6.0,1.0,1.0,NaN
3,17196,AK,AK01,55,D,61.0,55.33333,66.0,52.33333,49.25,...,5.0,6.0,4.0,2.0,1.0,6.0,6.0,3.0,2.0,NaN
4,17762,AK,AK01,75,D,61.0,55.33333,66.0,52.33333,49.25,...,4.0,4.0,1.0,1.0,1.0,3.0,3.0,0.0,0.0,NaN

<br>

# Implement the Model

In future work, I would add these as a custom pipeline.  The additional transformations would be part of the model pipeline, so that the model would be completely self-contained.

__Prepare Features__

In [12]:
feat = file3.drop(columns=["ID"])

In [13]:
#create age groups
feat['age_bin'] = pd.cut(feat.f2, 
                   bins=[0, 19, 29, 39, 49, 59, 999], 
                   labels=['0-19', '20-29', '30-39', '40-49', '50-59', '60+'],
                   include_lowest=True)

In [14]:
#assume no problem with type conversion, with more time I would be more careful
cont_var = ['f2']
feat[cont_var] = feat[cont_var].astype("float64")
categ_var = ['f93', 'f94','age_bin']
feat[categ_var] = feat[categ_var].astype("category")

In [15]:
#assume no problem with type conversion, with more time I would be more careful
categ = feat.select_dtypes(['object']).apply(pd.Series.astype, dtype='category')
feat2 = feat.loc[:, feat.dtypes != np.object]
feat3 = feat2.join(categ)
feat3.shape    #chk: 24 + 126

(29231, 149)

__Checks__

In [50]:
X_live = feat3
print( X_live.shape )

(feat3.dtypes).value_counts().head()

__Apply Model__

In [19]:
y_class_prob = loaded_model.predict_proba(X_live) 

y_pred = loaded_model.predict(X_live)

__Checks__

In [21]:
print( len(y_class_prob))
print( len(y_pred))

print( np.mean(y_class_prob) )

__Save Output__

In [41]:
lClass_prob = [ x[1] for x in y_class_prob]
lPredict = [x for x in y_pred]

df = pd.DataFrame({'Class_Prob':lClass_prob, 'Class_Pred':lPredict})

file_path = cwd + '/Data/survey/Predict/'
filename_path = file_path + 'results.csv'
df.to_csv(filename_path, index=False)

In [48]:
! head /home/jovyan/work/notebooks/IMTorgDemo-Notebooks/Data/survey/Predict/results.csv

Class_Prob,Class_Pred
0.0,0
1.0,1
0.0,0
1.0,1
0.3333333333333333,0
1.0,1
1.0,1
0.0,0
1.0,1

In [49]:
#Thank you, and good night!